#ticketsFont{color:green}
.navOpacity{opacity: .9}
.slidePhoto{filter: brightness(0.5);}
.pPhoto{text-align: justify;}
.form{max-width: 1rem;}
.carouselDiv{
    height: 550px;
}
.carouselImg{
    height: 100% !important;
    width:  100% !important;
}
.footerColor{
    background-color: rgb(0, 52, 59);
    padding-left: 100px;
    padding-right: 100px;
}
.carousel-item{
    position: relative;
}
#carousel-caption{
    right: 5%;
    left: 50%;
}