#ticketsFont{color:green}
.navOpacity{opacity: .9}
.slidePhoto{filter: brightness(0.5);}
.pPhoto{text-align: justify;}
.form{max-width: 1rem;}
.carouselDiv{
    height: 550px;
}
.carouselImg{
    height: 100% !important;
    width:  100% !important;
}
.footerColor{background-color: rgb(9, 71, 87);}
}
.carousel-item{
    position: relative;
}
#carousel-caption{
    right: 5%;
    left: 50%;
}
#pagar {background-color: rgb(161, 199, 255);
    color:rgb(11, 11, 139)}
    
.botones{background-color:rgb(158, 208, 74 );
    border:none}